<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.svc.dao.onl.SpMapper">
  <resultMap id="BaseResultMap" type="com.test.svc.model.onl.Sp">
    <id column="sp_id" jdbcType="CHAR" property="spId" />
    <id column="call_dt" jdbcType="CHAR" property="callDt" />
    <result column="sp_name" jdbcType="CHAR" property="spName" />
    <result column="rec_crt_ts" jdbcType="TIMESTAMP" property="recCrtTs" />
    <result column="rec_upd_ts" jdbcType="TIMESTAMP" property="recUpdTs" />
  </resultMap>
  <sql id="Base_Column_List">
    sp_id, call_dt, sp_name, rec_crt_ts, rec_upd_ts
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.test.svc.model.onl.SpKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_onl_sp
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.test.svc.model.onl.SpKey">
    delete from tbl_onl_sp
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.test.svc.model.onl.Sp">
    insert into tbl_onl_sp (sp_id, call_dt, sp_name, 
      rec_crt_ts, rec_upd_ts)
    values (#{spId,jdbcType=CHAR}, #{callDt,jdbcType=CHAR}, #{spName,jdbcType=CHAR}, 
      #{recCrtTs,jdbcType=TIMESTAMP}, #{recUpdTs,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.test.svc.model.onl.Sp">
    insert into tbl_onl_sp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spId != null">
        sp_id,
      </if>
      <if test="callDt != null">
        call_dt,
      </if>
      <if test="spName != null">
        sp_name,
      </if>
      <if test="recCrtTs != null">
        rec_crt_ts,
      </if>
      <if test="recUpdTs != null">
        rec_upd_ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spId != null">
        #{spId,jdbcType=CHAR},
      </if>
      <if test="callDt != null">
        #{callDt,jdbcType=CHAR},
      </if>
      <if test="spName != null">
        #{spName,jdbcType=CHAR},
      </if>
      <if test="recCrtTs != null">
        #{recCrtTs,jdbcType=TIMESTAMP},
      </if>
      <if test="recUpdTs != null">
        #{recUpdTs,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.svc.model.onl.Sp">
    update tbl_onl_sp
    <set>
      <if test="spName != null">
        sp_name = #{spName,jdbcType=CHAR},
      </if>
      <if test="recCrtTs != null">
        rec_crt_ts = #{recCrtTs,jdbcType=TIMESTAMP},
      </if>
      <if test="recUpdTs != null">
        rec_upd_ts = #{recUpdTs,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.svc.model.onl.Sp">
    update tbl_onl_sp
    set sp_name = #{spName,jdbcType=CHAR},
      rec_crt_ts = #{recCrtTs,jdbcType=TIMESTAMP},
      rec_upd_ts = #{recUpdTs,jdbcType=TIMESTAMP}
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.test.svc.model.onl.Sp">
    <id column="sp_id" jdbcType="CHAR" property="spId" />
    <id column="call_dt" jdbcType="CHAR" property="callDt" />
    <result column="sp_name" jdbcType="CHAR" property="spName" />
    <result column="rec_crt_ts" jdbcType="TIMESTAMP" property="recCrtTs" />
    <result column="rec_upd_ts" jdbcType="TIMESTAMP" property="recUpdTs" />
  </resultMap>
  <sql id="Base_Column_List">
    sp_id, call_dt, sp_name, rec_crt_ts, rec_upd_ts
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.test.svc.model.onl.SpKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_onl_sp
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.test.svc.model.onl.SpKey">
    delete from tbl_onl_sp
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.test.svc.model.onl.Sp">
    insert into tbl_onl_sp (sp_id, call_dt, sp_name, 
      rec_crt_ts, rec_upd_ts)
    values (#{spId,jdbcType=CHAR}, #{callDt,jdbcType=CHAR}, #{spName,jdbcType=CHAR}, 
      #{recCrtTs,jdbcType=TIMESTAMP}, #{recUpdTs,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.test.svc.model.onl.Sp">
    insert into tbl_onl_sp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spId != null">
        sp_id,
      </if>
      <if test="callDt != null">
        call_dt,
      </if>
      <if test="spName != null">
        sp_name,
      </if>
      <if test="recCrtTs != null">
        rec_crt_ts,
      </if>
      <if test="recUpdTs != null">
        rec_upd_ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spId != null">
        #{spId,jdbcType=CHAR},
      </if>
      <if test="callDt != null">
        #{callDt,jdbcType=CHAR},
      </if>
      <if test="spName != null">
        #{spName,jdbcType=CHAR},
      </if>
      <if test="recCrtTs != null">
        #{recCrtTs,jdbcType=TIMESTAMP},
      </if>
      <if test="recUpdTs != null">
        #{recUpdTs,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.svc.model.onl.Sp">
    update tbl_onl_sp
    <set>
      <if test="spName != null">
        sp_name = #{spName,jdbcType=CHAR},
      </if>
      <if test="recCrtTs != null">
        rec_crt_ts = #{recCrtTs,jdbcType=TIMESTAMP},
      </if>
      <if test="recUpdTs != null">
        rec_upd_ts = #{recUpdTs,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.svc.model.onl.Sp">
    update tbl_onl_sp
    set sp_name = #{spName,jdbcType=CHAR},
      rec_crt_ts = #{recCrtTs,jdbcType=TIMESTAMP},
      rec_upd_ts = #{recUpdTs,jdbcType=TIMESTAMP}
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.test.svc.model.onl.Sp">
    <id column="sp_id" jdbcType="CHAR" property="spId" />
    <id column="call_dt" jdbcType="CHAR" property="callDt" />
    <result column="sp_name" jdbcType="CHAR" property="spName" />
    <result column="rec_crt_ts" jdbcType="TIMESTAMP" property="recCrtTs" />
    <result column="rec_upd_ts" jdbcType="TIMESTAMP" property="recUpdTs" />
  </resultMap>
  <sql id="Base_Column_List">
    sp_id, call_dt, sp_name, rec_crt_ts, rec_upd_ts
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.test.svc.model.onl.SpKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_onl_sp
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.test.svc.model.onl.SpKey">
    delete from tbl_onl_sp
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.test.svc.model.onl.Sp">
    insert into tbl_onl_sp (sp_id, call_dt, sp_name, 
      rec_crt_ts, rec_upd_ts)
    values (#{spId,jdbcType=CHAR}, #{callDt,jdbcType=CHAR}, #{spName,jdbcType=CHAR}, 
      #{recCrtTs,jdbcType=TIMESTAMP}, #{recUpdTs,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.test.svc.model.onl.Sp">
    insert into tbl_onl_sp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spId != null">
        sp_id,
      </if>
      <if test="callDt != null">
        call_dt,
      </if>
      <if test="spName != null">
        sp_name,
      </if>
      <if test="recCrtTs != null">
        rec_crt_ts,
      </if>
      <if test="recUpdTs != null">
        rec_upd_ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spId != null">
        #{spId,jdbcType=CHAR},
      </if>
      <if test="callDt != null">
        #{callDt,jdbcType=CHAR},
      </if>
      <if test="spName != null">
        #{spName,jdbcType=CHAR},
      </if>
      <if test="recCrtTs != null">
        #{recCrtTs,jdbcType=TIMESTAMP},
      </if>
      <if test="recUpdTs != null">
        #{recUpdTs,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.svc.model.onl.Sp">
    update tbl_onl_sp
    <set>
      <if test="spName != null">
        sp_name = #{spName,jdbcType=CHAR},
      </if>
      <if test="recCrtTs != null">
        rec_crt_ts = #{recCrtTs,jdbcType=TIMESTAMP},
      </if>
      <if test="recUpdTs != null">
        rec_upd_ts = #{recUpdTs,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.svc.model.onl.Sp">
    update tbl_onl_sp
    set sp_name = #{spName,jdbcType=CHAR},
      rec_crt_ts = #{recCrtTs,jdbcType=TIMESTAMP},
      rec_upd_ts = #{recUpdTs,jdbcType=TIMESTAMP}
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.test.svc.model.onl.Sp">
    <id column="sp_id" jdbcType="CHAR" property="spId" />
    <id column="call_dt" jdbcType="CHAR" property="callDt" />
    <result column="sp_name" jdbcType="CHAR" property="spName" />
    <result column="rec_crt_ts" jdbcType="TIMESTAMP" property="recCrtTs" />
    <result column="rec_upd_ts" jdbcType="TIMESTAMP" property="recUpdTs" />
  </resultMap>
  <sql id="Base_Column_List">
    sp_id, call_dt, sp_name, rec_crt_ts, rec_upd_ts
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.test.svc.model.onl.SpKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_onl_sp
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.test.svc.model.onl.SpKey">
    delete from tbl_onl_sp
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.test.svc.model.onl.Sp">
    insert into tbl_onl_sp (sp_id, call_dt, sp_name, 
      rec_crt_ts, rec_upd_ts)
    values (#{spId,jdbcType=CHAR}, #{callDt,jdbcType=CHAR}, #{spName,jdbcType=CHAR}, 
      #{recCrtTs,jdbcType=TIMESTAMP}, #{recUpdTs,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.test.svc.model.onl.Sp">
    insert into tbl_onl_sp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spId != null">
        sp_id,
      </if>
      <if test="callDt != null">
        call_dt,
      </if>
      <if test="spName != null">
        sp_name,
      </if>
      <if test="recCrtTs != null">
        rec_crt_ts,
      </if>
      <if test="recUpdTs != null">
        rec_upd_ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spId != null">
        #{spId,jdbcType=CHAR},
      </if>
      <if test="callDt != null">
        #{callDt,jdbcType=CHAR},
      </if>
      <if test="spName != null">
        #{spName,jdbcType=CHAR},
      </if>
      <if test="recCrtTs != null">
        #{recCrtTs,jdbcType=TIMESTAMP},
      </if>
      <if test="recUpdTs != null">
        #{recUpdTs,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.svc.model.onl.Sp">
    update tbl_onl_sp
    <set>
      <if test="spName != null">
        sp_name = #{spName,jdbcType=CHAR},
      </if>
      <if test="recCrtTs != null">
        rec_crt_ts = #{recCrtTs,jdbcType=TIMESTAMP},
      </if>
      <if test="recUpdTs != null">
        rec_upd_ts = #{recUpdTs,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.svc.model.onl.Sp">
    update tbl_onl_sp
    set sp_name = #{spName,jdbcType=CHAR},
      rec_crt_ts = #{recCrtTs,jdbcType=TIMESTAMP},
      rec_upd_ts = #{recUpdTs,jdbcType=TIMESTAMP}
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.test.svc.model.onl.Sp">
    <id column="sp_id" jdbcType="CHAR" property="spId" />
    <id column="call_dt" jdbcType="CHAR" property="callDt" />
    <result column="sp_name" jdbcType="CHAR" property="spName" />
    <result column="rec_crt_ts" jdbcType="TIMESTAMP" property="recCrtTs" />
    <result column="rec_upd_ts" jdbcType="TIMESTAMP" property="recUpdTs" />
  </resultMap>
  <sql id="Base_Column_List">
    sp_id, call_dt, sp_name, rec_crt_ts, rec_upd_ts
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.test.svc.model.onl.SpKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_onl_sp
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.test.svc.model.onl.SpKey">
    delete from tbl_onl_sp
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.test.svc.model.onl.Sp">
    insert into tbl_onl_sp (sp_id, call_dt, sp_name, 
      rec_crt_ts, rec_upd_ts)
    values (#{spId,jdbcType=CHAR}, #{callDt,jdbcType=CHAR}, #{spName,jdbcType=CHAR}, 
      #{recCrtTs,jdbcType=TIMESTAMP}, #{recUpdTs,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.test.svc.model.onl.Sp">
    insert into tbl_onl_sp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spId != null">
        sp_id,
      </if>
      <if test="callDt != null">
        call_dt,
      </if>
      <if test="spName != null">
        sp_name,
      </if>
      <if test="recCrtTs != null">
        rec_crt_ts,
      </if>
      <if test="recUpdTs != null">
        rec_upd_ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spId != null">
        #{spId,jdbcType=CHAR},
      </if>
      <if test="callDt != null">
        #{callDt,jdbcType=CHAR},
      </if>
      <if test="spName != null">
        #{spName,jdbcType=CHAR},
      </if>
      <if test="recCrtTs != null">
        #{recCrtTs,jdbcType=TIMESTAMP},
      </if>
      <if test="recUpdTs != null">
        #{recUpdTs,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.svc.model.onl.Sp">
    update tbl_onl_sp
    <set>
      <if test="spName != null">
        sp_name = #{spName,jdbcType=CHAR},
      </if>
      <if test="recCrtTs != null">
        rec_crt_ts = #{recCrtTs,jdbcType=TIMESTAMP},
      </if>
      <if test="recUpdTs != null">
        rec_upd_ts = #{recUpdTs,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.svc.model.onl.Sp">
    update tbl_onl_sp
    set sp_name = #{spName,jdbcType=CHAR},
      rec_crt_ts = #{recCrtTs,jdbcType=TIMESTAMP},
      rec_upd_ts = #{recUpdTs,jdbcType=TIMESTAMP}
    where sp_id = #{spId,jdbcType=CHAR}
      and call_dt = #{callDt,jdbcType=CHAR}
  </update>
</mapper>